PORT=9010
HOST=127.0.0.1

WIDGET_IFRAME_URL=https://eckard.opexa-llc.com/roy/widget-iframe

# Cookie name (keep as is)
JWE_COOKIE_NAME=roy_widget_jwe

# Supported values: A128GCM, A192GCM, A256GCM
PARTNER_JWE_ENC=A128GCM

PARTNER_JWE=ewlobNxnAHAw2MSg

# Supported values: HS256, HS384, HS512
PARTNER_JWS_ALG=HS384

PARTNER_JWS=iLXMIoIrJuf0I95uYEhF9mfaYntOBhEBko288Q6mWGvcsvpV

ALLOWED_WIDGET_ORIGINS=https://eckard.opexa-llc.com
